@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothaProMed.otf");
}

@font-face {
    font-family: GothamPro Regular;
    src: url("../fonts/GothaProReg.otf");
}

@font-face {
    font-family: GothamPro Med;
    src: url("../fonts/GothaProNarMed.otf");
}

@font-face {
    font-family: GothamPro Lig;
    src: url("../fonts/GothaProLig.otf");
}