/* Main options */

html {
    font-size: 10px;
}

body {
    background-color: #ffffff;
    font-size: 14px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

body * {
    box-sizing: border-box;
}

a {
    color: #848484;
    text-decoration: none;
}

img {
    width: auto;
}

.wrapper {
    margin: 0 auto;
    width: 1500px;
}

.holder::after {
    content: "";
    clear: both;
    display: block;
}

/* Header Style */

header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 225px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

header .logo {
    margin-top: 60px;
    margin-right: 20px;
    float: left;
    text-transform: uppercase;
    font-size: 58px;
    font-family: GothamPro, sans-serif;
    text-align: left;
}

header .logo a {
    color: #fff;
}

header #click {
    position: relative;
}

header article {
    text-align: left;
    margin-top: 45px;
}

i {
    font-size: 20px;
    padding-right: 5px;
    color: #fff;
}

header article span {
    font-size: 15px;
    line-height: 35px;
    color: #fff;
    font-family: "GothamPro Regular", sans-serif;
}

header article img {
    margin-right: 5px;
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;

    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    -moz-flex-align: flex-start;
}

header article select {
    outline: none;
    font-size: 13px;
    font-family: "GothamPro Regular", sans-serif;
    background: none;
    color: #fff;
    border: none;
    margin-right: 34px;
}

header article select option {
    outline: none;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

header article button {
    color: #fff;
    font-family: "GothamPro Regular", sans-serif;
    font-size: 11px;
    border: 1px solid #fff;
    background: none;
    text-transform: uppercase;
    width: 125px;
    height: 35px;
    margin-top: 15px;
    outline: none;
    cursor: pointer;
    transition: border 1s, color 1s;
}

header article button:hover {
    border: 1px solid #f68e2f;
    color: #f68e2f;
}

.fix-image {
    overflow: hidden;
    position: absolute;
}

header nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
}

header nav ul.navigation li {
    text-align: center;
    display: inline-block;
    color: #fff;
    padding-top: 10px;
    padding-right: 45px;
    font-size: 13px;
}

header nav ul.navigation li a {
    color: #fff;
    font-family: "GothamPro Regular", sans-serif;
}

header nav ul.navigation li a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid #f68e2f;
}

/* Main Style */



main {
    text-align: left;
}

.slider-move .item {
    position: relative;
    height: 1080px;
    width: 100%;
    overflow: hidden;
}

.slider-move .item img {
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
}

main .left-arrow {
    background-image: url("../images/left-arrow.png");
    position: absolute;
    z-index: 1;
    top: 450px;
    left: 220px;
}

main .right-arrow {
    position: absolute;
    z-index: 1;
    top: 450px;
    right: 220px;
}

main .search-panel {
    width: auto;
    height: 70px;
    position: absolute;
    bottom: 90px;
    background-color: #fff;
    overflow: hidden;

}

main .search-panel select {
    width: 296px;
    height: 70px;
    padding: 0;
    border: none;
}

main .search-panel input[type="button"] {
    width: 300px;
    height: 70px;
    background-color: #f68e2f;
    border: none;
}

main section h2 {
    color: #333;
    font-size: 25px;
    font-family: "GothamPro", sans-serif;
}

main section p {
    line-height: 5px;
    font-size: 20px;
    font-family: "GothamPro Med", sans-serif;
    color: #7f7f7f;
    margin-bottom: 50px;
}

.cars-category {
    padding-top: 120px;
    color: #000;
    font-size: 27px;
    left: 850px;
    position: absolute;
}

.left-arrow-center {
    left: 200px;
    margin-top: 120px;
    position: absolute;
}

.right-arrow-center {
    margin-top: 120px;
    right: 200px;
    position: absolute;
}

.left-arrow-center img {
    width: 60%;
    height: 60%;
}

.right-arrow-center img {
    width: 60%;
    height: 60%;
}

main .banner-main {
    position: relative;
}

.img-centre {
    text-align: center;
    position: absolute;

}

.img-centre img {
    width: 75%;
    height: 75%;
}

.img-left {

}

.img-right {
    float: right;
}

.img-left img {
    width: 961px;
    height: 896px;
}

.img-right img {
    float: right;
    width: 90%;
    height: 90%;
}

.img-right .info {
    position: absolute;
    z-index: 1;
    width: 500px;
    left: 180px;
    top: 80px;
}

.img-right .info p {
    font-family: "GothamPro Lig", sans-serif;
    font-weight: normal;
    color: #000;
    line-height: 20px;
    font-size: 17px;
}

.img-right .info h2 {
    font-family: "GothamPro Med", sans-serif;
    font-size: 32px;
}

.img-right .info-down {
    position: absolute;
    z-index: 1;
    width: 500px;
    left: 200px;
    bottom: 350px;
}

.img-right .info-down p {
    font-family: "GothamPro Lig", sans-serif;
    font-weight: normal;
    color: #000;
    line-height: 20px;
    font-size: 17px;
}

.img-right .info-down h2 {
    font-family: "GothamPro Med", sans-serif;
    font-size: 32px;
}

.img-left .info-centre {
    float: right;
    width: 500px;
    margin-top: 100px;
    margin-right: 350px;
}

.img-left .info-centre p{
    font-family: "GothamPro Lig", sans-serif;
    font-weight: normal;
    color: #000;
    line-height: 20px;
    font-size: 17px;
}

.img-left .info-centre h2{
    font-family: "GothamPro Med", sans-serif;
    font-size: 32px;
}

.img-right .last-img {
    position: relative;
    width: 100%;
    height: 100%;
}

main #chooseCar {
    width: 100%;
    position: relative;
    top: 130px;
}

main #chooseCar .car-style {
    margin: 0 auto;
    outline: none;
}

main #chooseCar img {
    z-index: 1;
    width: 60%;
    height: 60%;
    position: relative;
    left: 350px;
}

main .cut-bg {
    margin: 0 auto;
    width: 72%;
    height: 600px;
    position: relative;
    overflow: hidden;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

main .cut-bg img {
    -ms-transform: skewX(20deg) translate(-50%, -50%);
    -webkit-transform: skewX(20deg) translate(-50%, -50%);
    transform: skewX(20deg) translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
    width: 150%;
}

main section {
    position: relative;
}

main #information {
    margin-top: 250px;
}

main .cut-bg-car-one {
    float: right;
    width: 40%;
    height: 600px;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

main .cut-bg-car-one img {

    -ms-transform: skewX(20deg) translate(-50%, -50%);
    -webkit-transform: skewX(60deg) translate(-50%, -50%);
    transform: skewX(20deg) translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
}


.scrollTop{
    position: absolute;
    z-index: 1;
    right: 100px;
    bottom: 5px;
}

.scrollTop img{
    width: 80%;
    height: 80%;
}
/* Modal Window */

#modal {
    display: none;
    z-index: 1;
    text-align: center;

}

#modal h2 {
    text-align: center;
    font-size: 40px;
    font-family: "GothamPro Med", sans-serif;
    text-transform: uppercase;
}

#modal input[type="text"] {
    width: 450px;
    height: 50px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #d7d7d7;

    outline: none;
    font-family: "GothamPro Lig", sans-serif;
}

#modal .modal-wrapper {
    margin: 0 auto;
    text-align: left;
    width: 450px;
}

#modal label {
    font-family: "GothamPro Lig", sans-serif;
    font-size: 15px;
    padding-bottom: 5px;
}

#modal input[type="submit"] {
    width: 450px;
    height: 50px;
    margin-top: 50px;
    border: none;
    font-family: "GothamPro Med", sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #f68e2f;
    cursor: pointer;
    outline: none;

}

#modal input[type="submit"]:hover {
    opacity: 0.7;
}

#bgModal {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    left: 50%;
    top: 200px;
    width: 700px;
    height: 500px;
    overflow: auto;
    background-color: #fff;

    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);

}

#close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #000;
    font-family: "GothamPro Lig", sans-serif;
    cursor: pointer;
    font-size: 20px;
}

/* Footer Style */

footer {
    position: relative;
    background-color: #000;
    height: 400px;
}

.fix-cards {
    width: 30%;
    height: 30%;
}

img.fix-cards {
    margin-left: 15px;
}

footer article {
    margin-top: 60px;
    padding-bottom: 15px;
    padding-right: 50px;
    text-align: left;
}

footer p {
    font-weight: normal;
    font-family: "GothamPro Lig", sans-serif;
    line-height: 30px;
    text-align: left;
    color: #fff;
    font-size: 13px;
}

footer h3 {
    font-weight: normal;
    font-family: "GothamPro Lig", sans-serif;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    border-bottom: 1px solid #fff;
}

footer article span {
    color: #fff;
}

/********** Media **********/

@media screen and (max-width: 1366px) {
    .wrapper {
        width: 1150px;
    }

    main .search-panel {
        width: 1150px;
    }

    main .search-panel select {
        width: 226px;
    }

    main .search-panel input[type="button"] {
        width: 232px;
    }

    main .left-arrow{
        left: 100px;
    }

    main .right-arrow{
        right: 100px;
    }

    .cars-category{
        left: 600px;
    }

    main #chooseCar img{
        left: 250px;
    }

    .img-left img {
        width: 50%;
        height: 50%;
    }

    .img-right img{
        width: 60%;
        height: 60%;
    }

    .img-right .info{
        left: 100px;
    }

    .img-right .info p{
        font-size: 15px;
    }

    .img-right .info h2{
        font-size: 30px;
    }

    .img-centre img{
        width: 70%;
        height: 70%;
    }

    .img-right .info-down{
        bottom: 210px;
        left: 100px;
    }

    .img-left .info-centre{
        width: 320px;
    }

    .img-left .info-centre p{
        font-size: 15px;
    }

    .img-left .info-centre h2{
        font-size: 30px;
    }

    .scrollTop img{
        width: 60%;
        height: 60%;
    }


}


